/* ---------------------- 
  start Search Box
---------------------- */
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Roboto:700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Holtwood+One+SC);
@import url(https://fonts.googleapis.com/css?family=Voces);

/* zocial */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*{
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
}

.header{
  background: #b0997f;
  height: 200px;
  padding: 20px;
}

h1 { 
  font-family: 'Holtwood One SC', serif;
  color:white;
  font-size:50px;
  text-shadow: 0px 3px 0px #7f8c8d;
}

.cont {
  position: relative;
  margin:20px auto;
  width: 500px;
}

.srchFld {
  border: 0;
  border-radius:7px;
  padding: 0 17px;
  padding-right:55px;
  display:inline-block;
  /* float:left; */
  width:380px;
  border-bottom:5px solid #bdc3c7;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  color: #7f8c8d;
  font-size:19px;
  
}

.srchFld:focus {
  outline-color: rgba(white,0);
}

.srchBtn {
  border: 0;
  border-radius:7px;
  padding: 0 17px;
  background: #031f51;
  display:inline-block;
  margin-left: 10px;
  width:99px;
  border-bottom:5px solid #c0392b;
  color:white;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size:18px;
  cursor: pointer;
}

.srchBtn:active {
  border-bottom:0px solid #c0392b;
}

.ico {
  position: absolute;
  right:135px;
  top: 3px;
  font-size:35px;
  color:#7f8c8d;
}

/* ---------------------- 
  main body bg-color  
---------------------- */
.main{
  background-color: lightcyan;
}

/* ---------------------- 
  Products field style  
---------------------- */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  margin: 20px 10px;
  transition: 0.6s;
  height: 600px;
  background-color: aquamarine;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 5px solid #b0997f;
  /* background-color: antiquewhite; */
  background-color: #031F51;
  color: antiquewhite;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: #031F51;
  color: antiquewhite;
}
.cart-main {
  padding-right: 30px;
}

/* ---------------------- 
  Button Style
---------------------- */

.add-btn {
  font-size: 18px;
  padding: 5px 20px;
  color: #fff;
  background-color: #031F51;
  border-radius: 5px;
  border-color: #ffffff;
}

.buy-btn, .details-btn{
  font-size: 18px;
  padding: 5px 20px;
  color: #031F51;
  background-color: antiquewhite;
  border-radius: 5px;
  border-color: #b0997f;
}


/* ---------------------- 
  Media Screen | Mobile responsive
---------------------- */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}


